/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.b7016787 {
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: auto;
    position: relative;
    cursor: pointer;
}
.af24d916 {
    height: 4.8rem;
    width: 10.4rem;
}
